body{
    background-color: white;
}

td{
    height: 300px;
    width: 500px;
}

.TR{
    font-family: Arial, Helvetica, sans-serif;
    color: #3e64ff;
    border-bottom: 1px #3e64ff solid;
    text-align: left;
    height: 15px;
}

