*{
    background-color: white;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 25px;
    padding-left: 15px;
    border-bottom: 5px solid #979797;
}

img {
    box-align: center;
}

.column {
    border: 2px solid red;
}